<html>
<head>
    <title>Admin Dashboard</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap5/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('public.index') }}">{{ config.APP_NAME }} - Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h3>Admin Dashboard</h3>
    <hr>
    <div class="bg-white p-3 border rounded">
        {% with catalog_title = "All Products", catalog_products = all_products, own_catalog = True %}
            {% include "product_catalog.html" %}
        {% endwith %}
    </div>
</div>
</body>
</html>