{% extends "layout.html" %}
{% set title = "Chat" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/chat.css') }}">
{% endblock %}

{% block content %}
    <div class="messaging mt-5">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent Chats</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    {% for people in inbox_user_list %}
                        <div class="chat_list {{ "active_chat" if chat_with and chat_with.username == people }}"
                             onclick="window.location.href='{{ url_for('user.chat', username=people) }}'"
                             style="cursor: pointer">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5>{{ people.capitalize() }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    {% if not chat_with %}
                        <h4 class="text-muted text-center my-auto">Choose a user to start messaging</h4>
                    {% else %}
                        <h6 class="text-muted text-center mb-0">Chat with {{ chat_with.username.capitalize() }}</h6>
                        <div class="text-center mb-3">
                            <a href="{{ url_for('user.leave_review', username=chat_with.username) }}">Leave a Review</a>
                        </div>
                        {% if user_convo %}
                            {% for message in user_convo %}
                                {% if message.sender_id == current_user.id %}
                                    <div class="outgoing_msg my-2">
                                        <div class="sent_msg">
                                            <p>{{ message.message }}</p>
                                        </div>
                                    </div>
                                {% elif message.receiver_id == current_user.id %}
                                    <div class="incoming_msg my-2">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>{{ message.message }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if chat_with %}
                    <div class="d-flex gap-3">
                        <input type="text" class="form-control" id="messageInput" placeholder="Type a message"/>
                        <button class="btn btn-primary" type="button" id="sendBTN">Send</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        incomingMessage = function (message) {
            $('.msg_history').append(
                '<div class="incoming_msg my-2"><div class="received_msg"><div class="received_withd_msg"><p>' + message
                + '</p></div></div></div>'
            );
        }

        outgoingMessage = function (message) {
            $('.msg_history').append(
                '<div class="outgoing_msg my-2"><div class="sent_msg"><p>' + message + '</p></div></div>'
            );
        }

        $('#sendBTN').click(function () {
            const message = $('#messageInput').val();
            if (message) {
                $.ajax({
                    url: '{{ url_for("user.chat_post") }}',
                    type: 'POST',
                    data: {
                        message: message,
                        receiver_id: {{ chat_with.id }}
                    },
                    success: function (data) {
                        outgoingMessage(message);
                        $('#messageInput').val('');
                    }
                });
            }
        });

    </script>
{% endblock %}