{% extends "layout.html" %}
{% set title = "Welcome" %}

{% block content %}
    <div class="bg-white p-3 mt-4 border rounded">
        <form class="row align-items-end">
            <div class="col-8">
                <label class="w-100 form-label">
                    Search Item
                </label>
                <input type="text" name="search-item" class="form-control" placeholder="e.g Shirts"
                       value="{{ search_item if search_item else '' }}" required>
            </div>
            <div class="d-flex gap-3 col-4 h-100">
                <button type="submit" class="btn btn-primary flex-grow-1">Search</button>
                <button type="reset" class="btn btn-light flex-grow-1 border">Reset</button>
            </div>
        </form>
    </div>

    {% with catalog_title = catalog_title, catalog_products = all_products, liked_product_ids = liked_product_ids %}
        {% include "product_catalog.html" %}
    {% endwith %}
{% endblock %}