<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | {{ config.APP_NAME }}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap5/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    {% block css %}
    {% endblock %}
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('public.index') }}">{{ config.APP_NAME }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('public.index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.chat', username='all') }}">Chats</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        {% for catergory in global_all_categories() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('public.index', category=catergory.name.lower()) }}">{{ catergory.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active fw-bold" href="#" id="profileDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Hello {{ current_user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('user.profile') }}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('user.likes') }}">Likes</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('user.reviews') }}">Reviews</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<section class="container mb-5">
    {% include "flash-message.html" %}
    {% block content %}
    {% endblock %}
</section>

<script src="{{ url_for('static', filename='vendor/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>