{% extends "layout.html" %}
{% set title = "Leave Review" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6">
            <div class="bg-white border rounded p-4">
                <h4>Leave a Review to {{ user.username.capitalize() }}</h4>
                <form method="post">
                    <label class="form-label w-100">
                        Review
                        <textarea name="review" rows="6" class="form-control" placeholder="Enter your review" required></textarea>
                    </label>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}