<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | {{ config.APP_NAME }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap5/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
</head>
<body class="bg-light">
<div class="container">
    <section class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 border rounded bg-white px-4 py-5 mt-5">
            <h2 class="fw-bold text-center">Login</h2>
            {% include "flash-message.html" %}
            <form method="post">
                <label class="w-100 mb-2 form-label">
                    Username
                    <input type="text" name="username" class="form-control" placeholder="Enter your Username">
                </label>
                <label class="w-100 mb-2 form-label">
                    Password
                    <input type="password" name="password" class="form-control" placeholder="Enter your password">
                </label>
                <label class="w-100 mb-2 form-label">
                    Don't have an account! <a href="{{ url_for('auth.register') }}" class="fw-bold">Create One</a>
                </label>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>