{% extends "layout.html" %}
{% set title = "My Reviews" %}

{% block content %}
    <div class="row mt-4">
        {% for review in current_user.reviews %}
            <div class="col-12 col-md-4 col-lg-3">
                <div class="bg-white border rounded p-3">
                    <small class="text-muted fw-bold">Review by {{ review.reviewer.username.capitalize() }}</small>
                    <p>{{ review.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}