<section class="mt-4">
    <h2>{{ catalog_title }}</h2>
    <div class="row">
        {% if not catalog_products %}
            <p class="text-center text-muted fs-5">No Listing Found!</p>
        {% endif %}
        {% for product in catalog_products %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card rounded overflow-hidden">
                    <div class="card-img">
                        <img class="w-100" src="{{ url_for('static', filename='images/' + product.image_path) }}"
                             alt="{{ product.name }}">
                    </div>
                    <div class="card-body">
                        <small class="text-muted">{{ product.category.name }}</small>
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description[:100] }}</p>
                        <small class="text-primary">Listing By {{ product.added_by.username.capitalize() }}</small>
                    </div>
                    <div class="card-footer">
                        {% if not own_catalog %}
                            <div class="d-flex align-items-center justify-content-between">
                                {% if product not in current_user.products %}
                                    <a class="btn btn-primary"
                                       href="{{ url_for('user.chat', username=product.added_by.username) }}">Contact
                                        Seller</a>
                                {% endif %}

                                {% if current_user.is_authenticated %}
                                    {% if product.id in liked_product_ids %}
                                        <a class="fs-4"
                                           href="{{ url_for('user.unlike_product', product_id=product.id) }}"><i
                                                class="bi bi-heart-fill text-danger"></i></a>
                                    {% else %}
                                        <a class="fs-4"
                                           href="{{ url_for('user.like_product', product_id=product.id) }}"><i
                                                class="bi bi-heart text-danger"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% else %}
                            <a class="btn btn-danger" href="{{ url_for('user.remove_listing', product_id=product.id) }}">Remove Listing</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>