{% extends "layout.html" %}
{% set title = "Profile" %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-md-4 p-2 flex">
            <div class="bg-white p-5 border rounded">
                <h3>Welcome {{ current_user.username }}</h3>
                <hr>
                <div>
                    <h5 class="text-muted">Your Stats</h5>
                    <div class="d-flex gap-3 fs-5 align-items-center mt-2">
                        <i class="d-block bi bi-star-fill text-warning"></i>
                        <label class="d-block"><b>{{ current_user.reviews|length }}</b> Total Reviews</label>
                    </div>
                    <div class="d-flex gap-3 fs-5 align-items-center mt-2">
                        <i class="d-block bi bi-list-ol text-danger"></i>
                        <label class="d-block"><b>{{ current_user.products|length }}</b> Total Listings</label>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <a href="{{ url_for('auth.logout') }}" class="fs-5 btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 p-2">
            <div class="bg-white p-5 border rounded">
                <h3>Add New Listing</h3>
                <hr>
                <form method="post" enctype="multipart/form-data" action="{{ url_for('user.add_listing') }}">
                    <label class="w-100 mb-2 form-label">
                        Title
                        <input type="text" name="title" class="form-control" placeholder="Enter your Title" required>
                    </label>
                    <label class="w-100 mb-2 form-label">
                        Choose Product Image
                        <input type="file" name="image" class="form-control" required>
                    </label>
                    <label class="w-100 mb-2 form-label">
                        Category
                        <select name="category" class="form-select" required>
                            <option>Choose Category</option>
                            {% for category in global_all_categories() %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label class="w-100 mb-2 form-label">
                        Description
                        <textarea name="description" rows="10" class="form-control" placeholder="Enter your Description" required></textarea>
                    </label>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>

    {% with catalog_title = "My Listings", catalog_products = current_user.products, own_catalog = True %}
        {% include "product_catalog.html" %}
    {% endwith %}
{% endblock %}